<div class="container-fluid p-5">
    <div class="row rounded py-4 p-2 bg-main">
        <div class="col-md-6">
            <!-- img for login component -->
            <img class="w-100 rounded" src="../../../assets/img/photo-1503023345310-bd7c1de61c7d.jpeg" alt="">
        </div>
        <!-- form for Login -->
        <div class="col-md-6 text-center d-flex flex-column justify-content-center">
            <form #registerForm="ngForm" (ngSubmit)="onSubmit(registerForm)"
              class="mb-5 d-flex flex-column align-items-center justify-content-center">
                <div class="mb-5">
                    <h2>HALLO!</h2>
                    <h1>JOIN US NOW!</h1>
                    <h1 *ngIf="error">{{error}}</h1>
                </div>
                <!-- Name input -->
                <div class="w-100">
                    <label for="Name"></label>
                    <input  ngModel #name="ngModel" class=" p-3 mb-3 w-75 border-0 rounded" id="name" type="text" name="name" placeholder="Enter Your Name"
                    required minlength="4" maxlength="15">
                    <!-- validate -->
                    <div *ngIf="name.invalid && name.touched"
                    class="alert alert-danger rounded mt-2">
                    <p *ngIf="name.errors?.['required']">
                    The name is required</p>
                    <p *ngIf="name.errors?.['minlength']">
                    The name should start with 4 Letters </p>
                    </div>
                </div>
                <!-- Email input -->
                <div class="w-100">
                    <label for="Email"></label>
                    <input ngModel #email="ngModel" class=" p-3 mb-3 w-75 border-0 rounded" type="email" name="email" placeholder="Enter Your Email"
                    required >
                    <!-- validate -->
                    <div *ngIf="email.invalid && email.touched"
                    class="alert alert-danger rounded mt-2">
                    <p *ngIf="email.errors?.['required']">
                        The email is required</p>
                        <p *ngIf="email.errors?.['email']">
                        This is not a valid Email!!! </p>
                    </div>
                </div>
                <!-- Phone input -->
                <div class="w-100">
                    <label for="Phone"></label>
                    <input ngModel #phone="ngModel" class=" p-3 mb-3 w-75 border-0 rounded" type="number" name="phone" placeholder="Enter Your Phone"
                    required pattern="^[01](0|1|2|4|5)[0-9]{6}$">
                    <!-- validate -->
                    <div *ngIf="phone.invalid && phone.touched"
                        class="alert alert-danger rounded mt-2">
                        <p *ngIf="phone.errors?.['required']">
                        The Phone is required</p>
                        <p *ngIf="phone.errors?.['pattern']">
                        The Phone is required </p>
                    </div>
                </div>
                <!-- password Input -->
                <div class="w-100">
                    <label for="Password"></label>
                    <input ngModel #password="ngModel" class=" p-3 mb-3 w-75 border-0 rounded" type="password" name="password" placeholder="Enter Your Password"
                    required pattern="^[A-Z]{1}([a-z]|[0-9]){4,15}$">
                    <!-- validate -->
                    <div *ngIf="password.invalid && password.touched"
                        class="alert alert-danger rounded mt-2">
                        <p *ngIf="password.errors?.['required']">
                        The password is required</p>
                        <p *ngIf="password.errors?.['pattern']">
                        Your password should start with capital letter and No less than 5 letters </p>
                    </div>
                </div>
                <!-- submit btn -->
                <button [disabled]='registerForm.invalid' class=" p-3 mt-5 w-75 border-0 rounded bg-danger" type="submit"> SING UP </button>
                <div class="d-flex mt-1 justify-content-around">
                    <a class="" routerLink="/shared/login"> click here to sing in </a>
                </div>
            </form>
            <div class="mt-5">
                <p class="my-5 Our position-relative">Our Continue With</p>
                <a href="https://www.google.com/"><i class="me-3 text-danger fa-brands fa-google"></i></a>
                <a href="https://www.apple.com/eg-ar/iphone/"><i class="mx-5 text-dark fa-brands fa-apple"></i></a>
                <a href="https://www.facebook.com/"><i class="ms-3 fa-brands fa-facebook"></i></a>
            </div>
        </div>
    </div>
</div>

